#form-submit {
    position: relative;
    margin-top: 1%;
    margin-bottom: 1.7%;
}

#form-submit:hover {
    transform: translate3d(0, 0, 0);
    transition-duration: .3s;
    transition-property: all;
    -webkit-transform: translate3d(0, -10px, 0);
    -moz-transform: translate3d(0, -10px, 0);
}

.imagen-efecto {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    transition: all .4s ease;
}

.imagen-efecto:hover {
    border: 2px white solid;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    transition: all .3s ease;
}

#historia {
    background-color: rgba(0, 0, 0, 0.55);
    border: 2px solid white;
    border-radius: 25px;
    transform: translate3d(0, 0, 0);
    transition-duration: .3s;
    transition-property: all;
    -webkit-transform: translate3d(0, -10px, 0);
    -moz-transform: translate3d(0, -10px, 0);
}

#quienes {
    background-color: rgba(0, 0, 0, 0.55);
    border: 2px solid white;
    border-radius: 25px;
    transform: translate3d(0, 0, 0);
    transition-duration: .3s;
    transition-property: all;
    -webkit-transform: translate3d(0, -10px, 0);
    -moz-transform: translate3d(0, -10px, 0);
}

#historia1 {
    background-color: rgba(0, 0, 0, 0.55);
    padding-top: 3%;
    padding-bottom: 3%;
    border: 1px solid white;
    border-radius: 25px;
    transition: all .3s ease;
}

#nosotros:hover #historia1 {
    background-color: transparent;
    border: none;
    border-radius: none;
    transition: all .3s ease;
}

#nosotros:hover {
    background-color: rgba(0, 0, 0, 0.7);
    border: 2px solid white;
    border-radius: 25px;
    transform: translate3d(0, 0, 0);
    transition-duration: .3s;
    transition-property: all;
    -webkit-transform: translate3d(0, -10px, 0);
    -moz-transform: translate3d(0, -10px, 0);
}

figure.snip0015 {
    font-family: 'Raleway', Arial, sans-serif;
    color: #fff;
    position: relative;
    overflow: hidden;
    margin-top: 20px;
    margin-left: 40px;
    min-width: 220px;
    max-width: 310px;
    max-height: 220px;
    width: 100%;
    background: #000000;
    text-align: center;
}

figure.snip0015 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

figure.snip0015 img {
    opacity: 1;
    width: 100%;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
}

figure.snip0015 figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 3em 3em;
    width: 100%;
    height: 100%;
}

figure.snip0015 figcaption::before {
    position: absolute;
    top: 50%;
    right: 30px;
    bottom: 50%;
    left: 30px;
    border-top: 1px solid rgba(255, 255, 255, 0.8);
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
    content: '';
    opacity: 0;
    background-color: #ffffff;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-transition-delay: 0.6s;
    transition-delay: 0.6s;
}

figure.snip0015 h2,
figure.snip0015 p {
    margin: 0 0 5px;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, -webkit-transform 0.35s, -moz-transform 0.35s, -o-transform 0.35s, transform 0.35s;
}

figure.snip0015 h2 {
    word-spacing: -0.15em;
    font-weight: 300;
    text-transform: uppercase;
    -webkit-transform: translate3d(0%, 50%, 0);
    transform: translate3d(0%, 50%, 0);
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}

figure.snip0015 h2 span {
    font-weight: 800;
}

figure.snip0015 p {
    font-weight: 200;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

figure.snip0015 a {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    color: #ffffff;
}

figure.snip0015:hover img {
    opacity: 0.35;
}

figure.snip0015:hover figcaption h2 {
    opacity: 1;
    font-size: 25px;
    -webkit-transform: translate3d(0%, 0%, 0);
    transform: translate3d(0%, 0%, 0);
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}

figure.snip0015:hover figcaption p {
    opacity: 1;
    -webkit-transition-delay: 0.6s;
    transition-delay: 0.6s;
}

figure.snip0015:hover figcaption::before {
    background: rgba(255, 255, 255, 0);
    top: 30px;
    bottom: 30px;
    opacity: 1;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

#nosotros:hover .icon {
    transform: translate3d(0, 0, 0);
    transition-duration: .3s;
    transition-property: all;
    -webkit-transform: translate3d(0, 5px, 0);
    -moz-transform: translate3d(0, 5px, 0);
}

.over:hover img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: all .5s ease;
}

.espacio {
    margin-top: 5%;
}

#promo1 {
    margin-top: 8%;
}

#t-promo {
    color: white;
    font-size: 75px
}

#inicio {
    margin-top: -10%;
}

#es {
    width: 25px;
    margin-top: 115%
}

#en {
    width: 25px;
    margin-top: 115%
}

@media (max-width:720px) {
    #es {
        width: 25px;
        height: auto;
        margin-top: 0%
    }
    #en {
        width: 25px;
        margin-top: 0%
    }
    #inicio {
        margin-top: -35%;
    }
    #t-promo {
        color: white;
        font-size: 60px
    }
    #promo1 {
        margin-top: -15%;
    }
    #btn-quienes-somos {
        margin-top: -35%;
    }
    #historia1 {
        background-color: transparent;
        border: none;
        border-radius: none;
        transition: all .3s ease;
    }
    #nosotros {
        margin-top: 5%;
        background-color: rgba(0, 0, 0, 0.7);
        border: 2px solid white;
        border-radius: 25px;
        transform: translate3d(0, 0, 0);
        transition-duration: .3s;
        transition-property: all;
        -webkit-transform: translate3d(0, -10px, 0);
        -moz-transform: translate3d(0, -10px, 0);
    }
    #nosotros:hover #historia1 {
        background-color: transparent;
        border: none;
        border-radius: none;
        transition: all .3s ease;
    }
    #nosotros:hover {
        background-color: rgba(0, 0, 0, 0.7);
        border: 2px solid white;
        border-radius: 25px;
        transform: translate3d(0, 0, 0);
        transition-duration: .3s;
        transition-property: all;
        -webkit-transform: translate3d(0, -10px, 0);
        -moz-transform: translate3d(0, -10px, 0);
    }
    #nosotros img {
        border: 2px solid white;
        transform: translate3d(0, 0, 0);
        transition-duration: .3s;
        transition-property: all;
        -webkit-transform: translate3d(0, -0px, 0);
        -moz-transform: translate3d(0, -0px, 0);
    }
    #nosotros:hover img {
        border: 2px solid white;
        transform: translate3d(0, 0, 0);
        transition-duration: .3s;
        transition-property: all;
        -webkit-transform: translate3d(0, -0px, 0);
        -moz-transform: translate3d(0, -0px, 0);
    }
    .filter-categories {
        margin-top: -50px;
    }
    #form-submit {
        margin-top: -4%;
        margin-bottom: 3%;
    }
}